* {
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.opensans {
  font-family: "Open Sans", sans-serif;
}

html {
/*   font-family: 'Lucida Sans', sans-serif; */
  -webkit-tap-highlight-color: transparent;
}

button.link{ background:none; border:none; }

.header {
  color: #000000;
  padding: 15px;
  display: block;
  font-size: 25px;
  text-align: center;
  font-weight: bold;
}

.header a{
  color: #000;
  text-decoration: none;
  text-decoration-color: #000;
}


img {
  border-radius: 8px;
}

a {
  color:inherit;
}

.responsive {
  max-width: 200px;
  height: auto;
}

.topnav {
  overflow: hidden;
  color: #000000;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  max-width: 500px;
  transition: height 0.5s;
}

.topnav a {
  text-decoration: none;
  color: #000000;
  height: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.topnav a:link {
  text-decoration: none;
}

.topnav a:visited {
  text-decoration: none;
}

.topnav a:hover {
  text-decoration: none;
  border-bottom: 3px solid #000;
  border-radius: 0;
  opacity: 0.6;
  transition: all 0.15s ease;
}

.topnav a:hover:after {
  border-radius: 100%;
}

.active:link {
  text-decoration: none;
  opacity: 0.4;
}


.column {
  float: left;
  width: 50%;
  padding: 10px;
  text-align: center;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.grids {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));*/
  gap: 20px;
  padding-left: 80px;
  padding-right: 60px;
}

.one {
  grid-row: 1/4;
  grid-column: 1/3;
  justify-self: center;
  margin-left: -160px;
}

.two {
  grid-row: 1/4;
  grid-column: 2/5;
  margin-left: 80px;
  margin-top: 50px;
  width: 83%;
  max-width: 900px;
}

.topnav_rectangle {
  width: 130px;
  background-color: #202020;
  position: absolute;
  top: 55px;
  right: 0px;
  transition: height 0.25s ease;
  height: 0;
  z-index: -10;
  border-radius: 10px;
}

@media only screen and (max-width: 769px) {
  .topnav {
    flex-direction: column;
    position: absolute;
    right: 10px;
    top: 0px;
    /*Side menu colour change on display
      background-color: #222;*/
    height: 0;
    transition: all 0.2s ease;
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
    z-index: 100;
  }
  .topnav_toggleShow {
    height: 290px;
  }
  .toggle_rectangle {
    height: 250px;
    border-radius: 10px;
  }
  .header {
    display: inline-flex;
    margin-top: -5px;
    margin-bottom: -5px;
    float: center;
  }
  .column {
    width: 100%;
    background-color: transparent;
  }
  .topnav a {
    color: rgb(255, 255, 255);
    padding-bottom: 30px;

  }
  .topnav a:hover {
    color: rgb(148, 148, 148);
    border-bottom-width: 0px;
    text-align: center;
    opacity: 1.0;
  }
  .grids {
    padding-left: 20px;
    padding-right: 20px;
  }
  .one {
    grid-row: 1;
    grid-column: 1/5;
    margin-left: -40px;
  }
  .two {
    grid-row: 2;
    grid-column: 1/5;
    margin: 0;
    width: 100%;
    max-width: 100%;
  }
}

/* For mobiles */
@media only screen and (max-width: 480px) {
  .topnav {
    flex-direction: column;
    position: absolute;
    right: 10px;
    top: 0px;
    /*Side menu colour change on display
      background-color: #222;*/
    height: 0;
    transition: all 0.2s ease;
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
    z-index: 100;
  }
  .topnav_toggleShow {
    height: 290px;
  }
  .toggle_rectangle {
    height: 250px;
    border-radius: 10px;
  }
  .header {
    display: inline-flex;
    font-size: 20px;
    margin-top: 2px;
    margin-bottom: -5px;
    float: center;
  }
  .column {
    width: 100%;
    background-color: transparent;
  }
  .topnav a {
    color: rgb(255, 255, 255);
    padding-bottom: 30px;

  }
  .topnav a:hover {
    color:  rgb(148, 148, 148);
    border-bottom-width: 0px;
    text-align: center;
    opacity: 1.0;
  }

  .grids {
    padding-left: 20px;
    padding-right: 20px;
  }
  .one {
    grid-row: 1;
    grid-column: 1/5;
    margin-left: -40px;
  }
  .two {
    grid-row: 2;
    grid-column: 1/5;
    margin: 0;
    width: 100%;
    max-width: 100%;
  }
}

@media screen and (min-width: 769px) {
  label.icon {
    display: none;
  }
}
input#smenu {
  display: none;
}

.icon {
  cursor: pointer;
  float: right;
  display: block;
  padding: 23px;
  right: 5px;
  top: 2px;
  border-radius: 10px;
  transition: all ease 0.3s;
}

label.icon {
  position: relative;
}

.icon .smenu,
.icon .smenu::before,
.icon .smenu::after {
  background: #000000;
  content: "";
  display: block;
  height: 3px;
  position: absolute;
  transition: background ease 0.2s, top ease 0.2s 0.2s, transform ease 0.2s;
  width: 20px;
}

.icon:hover .smenu,
.icon:hover .smenu::before,
.icon:hover .smenu::after {
  background: rgb(148, 148, 148);
}

.icon .smenu {
  right: 10px;
}

.icon .smenu::before {
  top: -6px;
}

.icon .smenu::after {
  top: 6px;
}

#smenu:checked + .icon{
  background-color: rgb(148, 148, 148);
  transform: rotate(90deg);
}

#smenu:checked + .icon:hover {
  opacity: 0.4;
}

#smenu:checked + .icon .smenu {
  background: transparent;
}

#smenu:checked + .icon .smenu::before {
  transform: rotate(45deg);
  background: rgb(255, 255, 255);
}

#smenu:checked + .icon .smenu::after {
  transform: rotate(-45deg);
  background: rgb(255, 255, 255);
}

#smenu:checked + .icon .smenu::before,
#smenu:checked + .icon .smenu::after {
  top: -2px;
  right: 2px;
  transition: top ease 0.2s, transform ease 0.2s 0.2s;
}

.main-container {
  background-color: #fff;
}

.overlay {
  opacity: 0.3;
  width: 100%;
  z-index: 1;
  pointer-events: none;
}

/*# sourceMappingURL=styles.css.map */
